@font-face {
    font-family:'space' ;
    src: url(./space.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #ffffffb7;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Mode sombre */
.dark {
    background-color: #ffffff;
    color: #000000;
}

.dark .container {
    background-color: white;
    color: black;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

#title {
    color: lightblue;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background: #000000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 5%;
    font-family: 'space';
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-image: url(../img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1, 
header p, 
.contact-info {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.contact-info {
    font-size: 0.9em;
    color: #243f58;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#title3 {
    font-size: 25px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #005780;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.job, .school {
    margin-bottom: 10px;
}

.job h3, .school h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.skills ul, .languages ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.skills li, .languages li {
    background: #eee;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}

.shadow__btn {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
}

#darkModeToggle {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

/* Ajout du changement du background-color pour le bouton en mode sombre */
.dark #darkModeToggle {
    background-color: white;
    color: black;
    border: 2px solid black;
}

/* Autres styles ici... */

@keyframes snow {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(650px);
    }
}
.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    transform: translateY(0px);
    height: 700px;
}

.box-of-star1 {
    animation: snow 5s linear infinite;
}

.box-of-star2 {
    animation: snow 5s -1.64s linear infinite;
}

.box-of-star3 {
    animation: snow 5s -2.30s linear infinite;
}

.box-of-star4 {
    animation: snow 5s -3.30s linear infinite;
}

.star {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    opacity: 0.7;
}

.star-position1 {
    top: 30px;
    left: 20px;
}

.star-position2 {
    top: 110px;
    left: 250px;
}

.star-position3 {
    top: 60px;
    left: 570px;
}

.star-position4 {
    top: 120px;
    left: 900px;
}

.star-position5 {
    top: 20px;
    left: 1120px;
}

.star-position6 {
    top: 90px;
    left: 1280px;
}

.star-position7 {
    top: 30px;
    left: 1480px;
}

